<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src=''></script>
</head>

<body>
    <div class="main">
        <img src="../../assets/images/kore.jpg" alt="not working" class="kore">
        <img src="../../assets/images/truck.jpg" alt="" class="truck">
        <h1>Agile</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe fuga quis odio eligendi iusto non distinctio, vero officia, numquam aperiam, doloribus omnis ab nisi voluptatem? Eum cumque facere optio cum. </p>
        <button class="btn btn-primary" (click)="btnclick()">Click Here</button>
    </div>


</body>

</html>